* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(197, 229, 239);
  }

  .header {
    margin-bottom: 20px;
    background-color: darkblue;
    color: white;
    text-align: center;
  }

  div .weather-container {display: block;
  }
  

  #temperature, #condition, #location, #humidity, #wind-speed {
    font-size: 50px;
    margin: 0;
  }
    
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: black;
  }
  
   button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
  } 

  textarea {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
  }

  .search-btn {
    display: inline;
    justify-content: left;
  }

  #search-col {
    display: inline-flex;
    flex-direction: column;
}






  .citys {
    box-shadow: 5px;
    border-radius: 10px;
    
  }

  .city-container {
   display: inline-block;
}

.weather-box {
  width: 20%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.future, .weather-box, .city-container {
  border: 1px solid rgb(100, 116, 169);
  background-color: rgb(117, 133, 139);
  padding: 30px;
  border-radius: 6px;
  box-shadow:   2px 2px 15px 0px rgba(0,0,0,0.75)
}




.forecasts {
    display: flex;
    justify-content: space-evenly;
}

.current-temperature, .current-humidity, .current-windspeed {
    margin: 15px 20px;
    background-color: white;
    font-size: 20px;
}

.current-weatherimg {
    width: 80px;
    height: 80px;
}
